body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #a6a2a1, #383535);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 100vh;
}

h2 {
  color: #fff;
  width: 100%;
  padding: 15px 0;
  background-color: #7e7878;
  text-align: center;
  font-size: 1.85rem;
  font-family: "Courier New", Courier, monospace;
}

.container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 0;
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease;
  position: relative;
}

.card img {
  width: 100%;
  height: auto;
}

.card:hover {
  transform: translateY(-10px);
}

.card h3,
.card p {
  margin: 20px;
  color: #333;
  transition: color 0.3s ease;
}

.card:hover h3,
.card:hover p {
  color: #007bff;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .button-container {
  opacity: 1;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.update-btn {
  background-color: #007bff;
  color: white;
}

.update-btn:hover {
  background-color: #0056b3;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
}

.delete-btn:hover {
  background-color: #a71d2a;
}
